<div class="main-container">
  <app-alert-bar></app-alert-bar>
  <header class="header-6">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon>
          <img src="assets/logo.svg" alt="" style="width: 100%; height: 100%;">
        </clr-icon>
        <span class="title">UW Sublease Admin</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          john.doe@vmware.com
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="..." clrDropdownItem>Preferences</a>
          <a href="..." clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <a *ngFor="let item of menu" class="nav-link" routerLink="{{item.link}}" routerLinkActive="active">
          {{item.title}}
        </a>
      </section>
    </nav>
  </div>
</div>
