<form class="form" [formGroup]="employeeForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
  <section class="form-block">
    <label>Add Employee Address</label>
    <div class="form-group">
      <label for="employeeEmail">E-mail</label>
      <label for="employeeEmail"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-sm"
             [class.invalid]="employeeForm.get('email').invalid
                    && (employeeForm.get('email').dirty || employeeForm.get('email').touched)">
        <input id="employeeEmail" type="text"
               formControlName="email">
        <span class="tooltip-content">
                    E-mail is required.
                </span>
      </label>
    </div>
    <div class="form-group">
      <label for="employeePhoneNumber">Phone Number</label>
      <label for="employeePhoneNumber"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-sm"
             [class.invalid]="employeeForm.get('phoneNumber').invalid
                    && (employeeForm.get('phoneNumber').dirty || employeeForm.get('phoneNumber').touched)">
        <input id="employeePhoneNumber" type="text"
               formControlName="phoneNumber">
      </label>
    </div>
    <div class="form-group">
      <label for="employeePassword">Password</label>
      <label for="employeePassword"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-sm"
             [class.invalid]="employeeForm.get('password').invalid
                    && (employeeForm.get('password').dirty || employeeForm.get('password').touched)">
        <input id="employeePassword" type="password"
               formControlName="password">
        <span class="tooltip-content">
                    Password is required.
                </span>
      </label>
    </div>
    <button class="btn btn-primary"
            type="submit"
            [disabled]="employeeForm.invalid">Add</button>
    <button class="btn btn-warning-outline" routerLink="../">Cancel</button>
  </section>
</form>
