<app-email-blacklist-form (formSubmit)="onCreate($event)"></app-email-blacklist-form>
<h5>Blacklist Table</h5>
<clr-datagrid>
  <clr-dg-column>E-mail</clr-dg-column>
  <clr-dg-column>Create Time</clr-dg-column>

  <clr-dg-row *ngFor="let email of blacklist">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="onDelete(email)">Remove</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{email.email}}</clr-dg-cell>
    <clr-dg-cell>{{email.createdAt | date }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{blacklist.length}} emails</clr-dg-footer>
</clr-datagrid>
