<div class="alert alert-app-level" *ngIf="this.alert.type !== null" [ngClass]="this.alertClass">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
      </div>
      <div class="alert-text">
        {{ alert.message }}
      </div>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="clearAlert()">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>
